<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="hdepot">
<head>
  <title>Social Post Moderation Tool</title>
  <meta name="fragment" content="!" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-route.js"></script>
  <script src="js/vendor/angular-touch.js"></script>
  <script src="js/vendor/angular-animate.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
  <link href="css/display.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="QueueController">
<div id="post" ng-swipe-left="acceptPost()" ng-swipe-right="rejectPost()" class="post" ng-show="post"><div class="postImage"><div class="postImageInner animate-fade" ng-show="showingPost"><img ng-src="{{post.imageUrl}}" /></div></div><div class="postRight"><div class="postTextWrap"><div class="postText animate-fade">{{post.text}}</div></div><div class="postUserWrap"><div class="postUser animate-fade" style="{{userstyle}}">@{{post.username}}</div></div></div></div>
<div class="no-post" ng-hide="post">
<h1>No posts in queue!</h1>
</div>
<div class="logobar"><button ng-click="acceptPost()" class="accept-btn"></button><!-- <button ng-click="banPost()" class="ban-btn"></button> --><button ng-click="rejectPost()" class="reject-btn"></button></div>

</body>
</html>
