<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="hdepot">
<head>
  <title>HD LED Board</title>
  <meta name="fragment" content="!" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-touch.js"></script>
  <script src="js/vendor/angular-route.js"></script>
  <script src="js/vendor/angular-animate.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
  <link href="css/display.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="DisplayController"><div class="post" ng-show="currentScreen == 0"><div class="postImage"><div class="postImageInner animate-fade" ng-show="showingPost"><img ng-src="{{post.imageUrl}}" /></div></div><div class="postRight"><div class="postTextWrap"><div class="postText animate-fade" ng-show="showingPost">{{post.text}}</div></div><div class="postUserWrap"><div class="postUser animate-fade" ng-show="showingPost" style="{{userstyle}}"><span class="userSpan">@{{post.username}}</span></div></div></div></div>
<div class="leaderboard" ng-show="currentScreen == 1">
  <div class="leaderboard-header animate-fade2" ng-show="currentScreen == 1">
  #{{hashtag}} Leaderboard
  </div>
  <div class="leaderboard-inner animate-fade2" ng-show="currentScreen == 1">
    <div class="leader" ng-repeat="item in leaderboard">
      <div class="leader-index">{{$index+1}}</div><div class="leader-name">@{{item.key}}</div>
    </div>
  </div>
</div>
<div class="brandContent" ng-show="currentScreen == 2">
<video id="theVideo" src="MLShere_h264.mp4" preload="auto"></video>
</div>
<div class="logobar"><div class="logo1"></div>#{{hashtag}}<div class="logo2"></div></div></div>
</body>
</html>