@font-face {
  font-family: "hnc";
  src: url('HelveticaNeueLTStd-Cn.otf');
}

@font-face {
  font-family: "hnb";
  src: url('HelveticaNeueLTStd-Blk.otf');
}

@font-face {
  font-family: "hncb";
  src: url('HelveticaNeue-CondensedBlack.otf');
}

@font-face {
  font-family: "hncd";
  src: url('HelveticaNeue-CondensedBold.otf');
}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 512px;
  height: 384px;
  background-image: url('../img/common-background.png');
  background-repeat: no-repeat;
}

* {
    padding: 0px;
    margin: 0px
}

.no-post {
  width: 512px;
  height: 163px;
  text-align: center;
  padding-top: 172px;
}

h1 {
  font-size: 32px;
}

.leaderboard, .post {
  width: 512px;
  height: 331px;
}

/* brand content styling */

.brandContent {
  position: absolute;
  /* background-image: url('../img/brand-placeholder.png'); */
  width: 512px;
  height: 384px;
  background-color: black;
}

video {
  position: absolute;
  top: 48px;
  left: 0;
  width: 512px;
  height: 288px;
}

/* common styling */

.logobar {
  display; table-cell;
  width: 512px;
  height: 53px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: table-cell;
  font-family: "hnb";
  font-size: 25px;
  color: white;
}

.logo1 {
  display: inline-block;
  background-image: url('../img/logos-left.png');
  position: absolute;
  top: 6px;
  left: 12px;
  height: 41px;
  width: 85px;
}
.logo2 {
  display: inline-block;
  background-image: url('../img/logos-right.png');
  position: absolute;
  top: 6px;
  right: 12px;
  height: 41px;
  width: 85px;
}
.logotag {
  display: inline-block; 
  text-align: center;
  vertical-align: middle;
}

/* post styling */

.postImage {
  display: inline-block;
  width: 311px;
  height: 331px;
  background-image: url('../img/photo-background.png');
}
.postImageInner {
  margin: 20px;
  width: 271px;
  height: 291px;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.postImageInner img {
  width: 271px;
  height: 291px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.postRight {
  display: inline-block;
  width: 201px;
  height: 331px;
  position: absolute;
  top: 0;
}

.postTextWrap {
  display: inline-block;
  width: 201px;
  height: 225px;
  margin: 0;
  padding: 0;
}

.postUserWrap {
  display: inline-block;
  background-image: url('../img/user-background.png');
  width: 201px;
  height: 103px;
  margin: 0;
  padding: 0;
}

.postText {
  display: table-cell;
  font-size: 24px;
  font-family: "hncb";
  width: 201px;
  height: 228px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  word-wrap: break-word;
}

.postUser {
  display: table-cell;
  font-size: 24px;
  font-family: "hnb";
  width: 201px;
  height: 103px;
  
  text-align: center;
  vertical-align: middle;
}

.userSpan {

}

/* leaderboard styling */

.leaderboard-header {
  text-transform: uppercase;
  height: 52px;
  width: 512px;
  text-align: center;
  font-family: "hnb";
  font-size: 30px;
  color: white;
  display: inline-block;
}

.leaderboard-inner {
  width: 512px;
  height: 231px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-image: url('../img/leaderboard-background.png');
  font-family: "hnc";
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
}

.leader {
  padding-bottom: 24px;
}

.leader-index {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.leader-name {
  display: inline-block;
  width: 367px;
  padding-left: 45px;
  text-transform: uppercase;
}

/* queue styling */

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.accept-btn {
  background-image: url('../img/accept.png');
  width: 48px;
  height: 48px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.ban-btn {
  background-image: url('../img/ban.png');
  width: 48px;
  height: 48px;
}

.reject-btn {
  background-image: url('../img/reject.png');
  width: 48px;
  height: 48px;
  float: right;
}

/* animation CSS */
.animate-fade {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display: table-cell!important;
}

.animate-fade2 {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display: inline-block!important; 
}

.animate-fade.ng-hide {
  opacity: 0;
}